



<html>
    <head>
        <title>gènereduca</title>
    </head>
    <body>
        <div>
            <h1><a href="">Inca coeduca</a></h1>
        </div>
<h2>Projecte transversal de coeducació al municipi d'Inca</h2>

        <div>
            <p>published: 17.02.2018, 17:17</p>
            <h2><a href="">Abans de començar</a></h2>
            <p>Només pensar no ens fa lliures, perquè la llibertat es mostra en l’acció, en la intervenció al món per fer aparèixer alguna cosa que prèviament no existia. Pensar és un exercici en solitud i, en canvi, ser lliure és actuar, la qual cosa requereix la participació d’altres éssers humans. Hannah Arendt, filòsofa
</p>
        </div>

        <div>
            <p>published: 17.02.2018, 17:17</p>
            <h2><a href="">De què es tracta</a></h2>
            <p>Formació: elaboració del pla de coeducació de centre</p>
        </div>
    </body>
</html>
